body {
    font-family: Arial;
    background: #f3f4f6;
    text-align: center;
    padding-top: 50px;
}

.container {
    background: white;
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #aaa;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    margin: 5px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1e40af;
}

.note {
    background: #e5e7eb;
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
}
